{
  "presets": ["latest", "stage-2"],

  "plugins":
  [
    "add-module-exports",
    ["module-resolver", {
      "root": ["."],
      "alias":
      {
        "tjsdoc/src": "tjsdoc/dist"
      }
    }],
    "transform-runtime"
  ],

  "env":
  {
    "tjsdoc-dev":
    {
      "plugins":
      [
        "add-module-exports",
        ["module-resolver", {
          "root": ["."],
          "cwd": "babelrc",
          "alias":
          {
            "tjsdoc": "../tjsdoc/src/TJSDoc.js",
            "tjsdoc-docs-babylon": "../tjsdoc-docs-babylon/src/",
            "tjsdoc-runtime-common": "../tjsdoc-runtime-common/src/",

            "tjsdoc/src": "../tjsdoc/src"
          }
        }],
        "transform-runtime"
      ]
    }
  }
}
